[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "numOSL"]
	path = numOSL
	url = https://github.com/cran/numOSL
[submodule "tgcd"]
	path = tgcd
	url = https://github.com/cran/tgcd
